.search-container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 600px;
}
.search-container-wide {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 650px;
}
.search-container-tight {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}.search-container-xtratight {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 450px;
}
.margin-top-10 {
    margin-top: 10px;
}

hr {
    width: 100%;
}